* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgba(32,33,36,1);
}


/*Header*/


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
header {
    padding: 6px;
}
.fe {
    justify-content: flex-end;
    flex-direction: row;
}
.hmenu, .tmenu, .imenu {
    display: flex;
    align-items: center;
}
.hmenu {
    width: 229px;
    height: 48px;
}
.tmenu a, .imenu a {
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
}
.tmenu {
    line-height: 24px;
    padding-right: 15px;
}
.ip, .ii {
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 48px;
    height: 48px;
}
.icon {
    height: 32px;
    width: auto;
}
.ti, .tg{
    padding-left: 15px;
}





/*Section*/
.dglogo {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 108px;
}
.glogo {
    width: 272;
    height: auto;
}
.cbox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 20px 20px 20px;
}
.mbar {
    width: 582px;
    height: 46px;
    border: 1px solid #5f6368;
    border-radius: 24px;
}
.dbar input {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-size: 14px;
    padding: 0px 16px;
    margin: 11px 4px;
    height: 36px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.dbar {
    padding-top: 18px;
}






/*Footer*/